/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic,600italic);
#instragram-section {
  background-color: #dda6b8;
}
#instragram-section .socialContainer {
  font-size: 20px;
  text-align: center;
}
#instragram-section .socialContainer a {
  color: white;
  margin-left: 5px;
}
@media only screen and (max-width: 959px) and (min-width: 751px) {
  #instragram-section .instagramImage {
    width: 225px;
    margin-left: 5px;
  }
}
#instragram-section #imageHolder {
  margin-left: 25px;
}
@media only screen and (max-width: 959px) and (min-width: 768px) {
  #instragram-section #imageHolder {
    margin-left: 30px;
  }
}
@media (max-width: 767px) {
  #instragram-section #imageHolder {
    margin-left: 0px;
  }
}
#instragram-section #imageHolder .instagramImage {
  padding: 15px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 0px;
  margin-bottom: 10px;
}
#instragram-section #imageHolder .instagramImage a {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
#instragram-section #section-header {
  margin-bottom: 20px;
  text-align: center;
  color: #3e3e3e;
  color: white;
}
#instragram-section #section-header h1 {
  font-size: 28px;
  color: white;
}
.commonButton {
  margin-top: 10px;
  padding: 15px 77px;
  display: inline-block;
  border: 1px solid #3e3e3e;
  line-height: 150%;
  letter-spacing: 0px;
  font-family: Montserrat;
  text-decoration: none;
}
.commonButton:hover {
  background-color: #f06d97;
  border: 1px solid #f06d97;
  color: white;
}
.sectionButton {
  text-align: center;
  margin: 20px 0px;
}
#page-header-section {
  padding-top: 5px;
  padding-bottom: 0px;
}
.hidden-phone {
  display: block;
}
.visible-phone {
  display: none;
}
.visible-desktop {
  display: none;
}
.hidden-desktop {
  display: block;
}
@media only screen and (max-width: 479px) {
  .hidden-phone {
    display: none !important;
  }
  .visible-phone {
    display: block;
  }
}
@media only screen and (max-width: 1199px) and (min-width: 960px) {
  .visible-desktop {
    display: block !important;
  }
  .hidden-desktop {
    display: none !important;
  }
}
@media (min-width: 1199px) {
  .visible-desktop {
    display: block !important;
  }
  .hidden-desktop {
    display: none !important;
  }
}
#wptag-section {
  background-color: #fdfaf8;
}
@media only screen and (max-width: 959px) {
  #wptag-section .grids {
    margin: 0px;
  }
}
#wptag-section .link {
  text-decoration: none;
}
#wptag-section .readMore {
  color: white;
  display: inline-block;
  margin-top: 60px;
  font-weight: bold;
}
@media only screen and (max-width: 959px) {
  #wptag-section .readMore {
    color: black;
  }
}
#wptag-section .readMore::after {
  content: ' ';
  height: 3px;
  width: 100%;
  background-color: white;
  display: block;
  margin-top: 1px;
}
#wptag-section h2 {
  line-height: 130%;
  letter-spacing: 0px;
  font-family: "Playfair Display";
  margin-top: 40px;
  font-size: 30px;
}
#wptag-section .tipContainer {
  line-height: 130%;
  letter-spacing: 0px;
  font-family: "montserratlight";
}
#wptag-section .tipContent {
  margin-top: 35px;
}
#wptag-section .firstTips {
  position: relative;
}
#wptag-section .firstTips .link {
  color: white;
}
@media only screen and (max-width: 959px) {
  #wptag-section .firstTips .link {
    color: black;
  }
}
#wptag-section .firstTips h2 {
  margin-top: 20px;
}
#wptag-section .firstTips .tipImage img {
  width: 100%;
}
#wptag-section .firstTips .overlay {
  background-image: url(../../images/tipsstories-gradientoverlay.png);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-size: contain;
}
@media only screen and (max-width: 959px) and (min-width: 768px) {
  #wptag-section .firstTips .overlay {
    display: none;
  }
}
@media (max-width: 767px) {
  #wptag-section .firstTips .overlay {
    display: none;
  }
}
#wptag-section .firstTips .tipContainer {
  width: 50%;
  position: absolute;
  bottom: 110px;
  left: 75px;
  color: white;
  padding: 20px;
}
@media only screen and (max-width: 959px) {
  #wptag-section .firstTips .tipContainer {
    position: static;
    width: auto;
    padding: 20px 0px;
    color: #3e3e3e;
  }
}
#wptag-section .normalTips {
  margin-top: 40px;
}
#wptag-section .normalTips .tipImage {
  width: 100%;
}
#wptag-section .normalTips .tipImage img {
  width: 100%;
}
@media (min-width: 1199px) {
  #wptag-section .normalTips .tipImage {
    width: 550px;
  }
}
@media only screen and (max-width: 1199px) and (min-width: 960px) {
  #wptag-section .normalTips .tipImage {
    width: 510px;
  }
}
@media only screen and (max-width: 959px) and (min-width: 768px) {
  #wptag-section .normalTips .tipImage {
    width: 400px;
  }
}
#wptag-section .normalTips .tipContainer h2 {
  line-height: 130%;
  letter-spacing: 0px;
  font-family: "Playfair Display";
  margin-top: 40px;
  font-size: 30px;
}
@media (max-width: 767px) {
  #wptag-section .normalTips .tipContainer {
    width: 100%;
  }
  #wptag-section .normalTips .tipContainer h2 {
    margin-top: 30px;
  }
  #wptag-section .normalTips .tipContainer .tipContent {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 959px) and (min-width: 768px) {
  #wptag-section .normalTips .tipContainer h2 {
    margin-top: 0px;
  }
  #wptag-section .normalTips .tipContainer .tipContent {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 959px) {
  #wptag-section .tipContainer {
    margin-left: 0px;
  }
  #wptag-section .normalTips .tipImage {
    margin-left: 0px;
  }
  #wptag-section .wptag {
    width: 100%;
    margin: 0 auto;
    display: block;
    float: none;
  }
}
#k-makeup-tips-section .tip a {
  text-decoration: none;
}
#k-makeup-tips-section .tip a .postTitle {
  line-height: 120%;
  letter-spacing: 0px;
  font-family: "montserratlight";
  color: #3e3e3e;
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
}
@media only screen and (max-width: 959px) {
  #k-makeup-tips-section .tip {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 20px;
  }
  #k-makeup-tips-section .tip img {
    width: 100%;
  }
  #k-makeup-tips-section .grids {
    margin-left: 0px;
  }
}
#post-archive-section .normalTips {
  margin-top: 40px;
}
#post-archive-section .normalTips .tipImage {
  width: 100%;
}
#post-archive-section .normalTips .tipImage img {
  width: 100%;
}
@media (min-width: 1199px) {
  #post-archive-section .normalTips .tipImage {
    width: 550px;
  }
}
@media only screen and (max-width: 1199px) and (min-width: 960px) {
  #post-archive-section .normalTips .tipImage {
    width: 510px;
  }
}
@media only screen and (max-width: 959px) and (min-width: 768px) {
  #post-archive-section .normalTips .tipImage {
    width: 400px;
  }
}
#post-archive-section .normalTips .tipContainer h2 {
  line-height: 130%;
  letter-spacing: 0px;
  font-family: "Playfair Display";
  margin-top: 40px;
  font-size: 24px;
}
@media (max-width: 767px) {
  #post-archive-section .normalTips .tipContainer {
    width: 100%;
  }
  #post-archive-section .normalTips .tipContainer h2 {
    margin-top: 30px;
  }
  #post-archive-section .normalTips .tipContainer .tipContent {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 959px) and (min-width: 768px) {
  #post-archive-section .normalTips .tipContainer h2 {
    margin-top: 0px;
  }
  #post-archive-section .normalTips .tipContainer .tipContent {
    margin-top: 20px;
  }
}
#post-archive-section .grids:first-child .normalTips {
  margin-top: 0px;
}
@media only screen and (max-width: 959px) and (min-width: 768px) {
  #post-archive-section .grids > .grid-12 {
    margin-left: 30px;
  }
}
#post-archive-section.section {
  padding-top: 0px;
  padding-bottom: 0px;
}
@media only screen and (max-width: 959px) {
  .grids {
    margin-left: 0px;
  }
  .grids .wptag {
    width: 100%;
    margin: 0 auto;
    display: block;
    float: none;
  }
}
.micrositeSlider {
  margin-top: 30px;
}
.micrositeSlider .sliderTitle {
  font-size: 60px;
  color: white;
  line-height: 150%;
  letter-spacing: 0px;
  font-family: "Playfair Display";
}
@media (max-width: 767px) {
  .micrositeSlider .sliderTitle {
    font-size: 25px;
  }
}
.micrositeSlider .sliderLink a {
  font-size: 24px;
  color: white;
  text-decoration: none;
  display: inline-block;
  line-height: 130%;
  letter-spacing: 0px;
  font-family: "montserratbold";
}
@media (max-width: 767px) {
  .micrositeSlider .sliderLink a {
    font-size: 15px;
  }
}
.micrositeSlider .sliderLink a:after {
  height: 3px;
  background-color: white;
  margin-top: 5px;
  width: 100%;
  display: block;
  content: " ";
}
#micrositeMenu {
  width: 745px;
  font-weight: bold;
  line-height: 150%;
  letter-spacing: 0px;
  font-family: Montserrat;
  font-size: 14px;
  color: #323232;
  margin-top: 30px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  #micrositeMenu {
    width: auto;
  }
}
#micrositeMenu #menu-etudehouse {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
@media (max-width: 767px) {
  #micrositeMenu #menu-etudehouse {
    width: auto;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
#micrositeMenu #menu-etudehouse li {
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  text-align: center;
}
@media (max-width: 767px) {
  #micrositeMenu #menu-etudehouse li {
    margin-bottom: 12px;
    font-size: 20px;
  }
}
.microsite {
  margin-bottom: 0px !important;
}
.microsite #product-single .entry-media img {
  width: 100%;
}
.microsite #product-single .single-header.hidden-desktop {
  text-align: center;
}
.microsite #product-single .single-header.hidden-desktop h1 {
  font-size: 55px;
}
#micrositeLogo {
  text-align: center;
  padding-top: 40px;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 12px;
  color: #323232;
  line-height: 100%;
  letter-spacing: 0px;
  font-family: Montserrat;
}
#micrositeLogo img {
  margin-top: -17px;
  margin-left: 15px;
  width: 60px;
  height: 55px;
}
#micrositeLogo .logoText {
  display: inline-block;
}
@media only screen and (max-width: 959px) {
  #micrositeLogo img {
    margin: 0px;
    margin-bottom: 20px;
    width: 100px;
    height: 90px;
  }
  #micrositeLogo .logoText {
    display: block;
    margin-bottom: 15px;
    font-size: 16px;
  }
}
.microsite-single {
  color: #3e3e3e;
}
.microsite-single .productArchive .single-header {
  font-size: 32px;
  color: #f06d97;
  padding: 8px 0px;
  text-align: center;
  line-height: 150%;
  letter-spacing: 0px;
  font-family: "Playfair Display";
}
@media (max-width: 767px) {
  .microsite-single .productArchive .single-header {
    font-size: 30px;
  }
}
.microsite-single .productArchive .single-header h1 {
  line-height: 150%;
  letter-spacing: 0px;
  font-family: "Playfair Display";
}
.microsite-single .link-pages h3 {
  margin-bottom: 10px;
}
.microsite-single #single-header-section {
  padding-top: 0px;
  padding-bottom: 0px;
}
.microsite-single p {
  margin-bottom: 15px;
}
.microsite-single .smallContent {
  line-height: 150%;
  letter-spacing: 0px;
  font-family: Montserrat;
  font-size: 14px;
  width: 690px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .microsite-single .smallContent {
    width: auto;
  }
  .microsite-single .smallContent iframe {
    width: 100% !important;
  }
}
.microsite-single .single-header {
  line-height: 150%;
  letter-spacing: 0px;
  font-family: "Playfair Display";
  color: #f06d97;
  font-size: 40px;
}
@media (max-width: 767px) {
  .microsite-single .single-header {
    font-size: 30px;
  }
}
@media only screen and (max-width: 959px) {
  .microsite-single #singleArchive .grids {
    margin-left: 0px;
  }
  .microsite-single #singleArchive .tipImage {
    margin-left: 0px;
  }
  .microsite-single #singleArchive .tipContainer {
    margin-left: 0px;
  }
}
.microsite-single #singleArchive:before {
  margin: 50px 0px 30px;
  content: ' ';
  height: 1px;
  width: 100%;
  background-color: #afafaf;
  display: block;
}
#etudehouse-single .entry-media img {
  width: 100%;
}
#etudehouse-single #single-content {
  margin-top: 35px;
  margin-bottom: 60px;
}
#product-archive-section .link {
  text-decoration: none;
}
#product-archive-section .tipImage {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}
#product-archive-section .wptag {
  margin-bottom: 20px;
}
#product-archive-section .tipContainer {
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  text-decoration: none;
  color: #3e3e3e;
  text-align: center;
  line-height: 130%;
  letter-spacing: 0px;
  font-family: "montserratlight";
  font-size: 16px;
}
#product-archive-section .tipContainer h2 {
  font-weight: bold;
  font-size: 12px;
}
#product-single {
  font-size: 16px;
  color: #3e3e3e;
  line-height: 150%;
  letter-spacing: 0px;
  font-family: Montserrat;
}
#product-single .purchaseInformation {
  margin: 15px 0px;
}
@media (max-width: 767px) {
  #product-single img {
    width: 100%;
  }
}
#product-single .gotoStore {
  margin-top: 10px;
  padding: 15px 77px;
  display: inline-block;
  border: 1px solid #3e3e3e;
  line-height: 150%;
  letter-spacing: 0px;
  font-family: Montserrat;
  text-decoration: none;
}
#product-single #single-content {
  margin: 25px auto;
}
#product-single #productPrice {
  font-size: 32px;
  color: #3e3e3e;
  line-height: 150%;
  letter-spacing: 0px;
  font-family: "Playfair Display";
  padding: 8px 0px;
}
#product-single .single-header h1 {
  font-size: 32px;
  color: #f06d97;
  line-height: 150%;
  letter-spacing: 0px;
  font-family: "Playfair Display";
  padding: 8px 0px;
}
#storeAddresses {
  color: #3e3e3e;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0px;
  font-family: "montserratlight";
}
#storeAddresses .subTitle {
  font-size: 24px;
  color: #f06d97;
  line-height: 150%;
  letter-spacing: 0px;
  font-family: "Playfair Display";
  margin-bottom: 35px;
}
#storeAddresses .col {
  margin-bottom: 25px;
}
#storeAddresses .col .col {
  margin-bottom: 5px;
}
#storeAddresses .storeName {
  color: #f06d97;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0px;
  font-family: "montserratlight";
  margin-bottom: 20px;
  margin-top: 20px;
}
#storeAddresses .leftCol {
  line-height: 130%;
  letter-spacing: 0px;
  font-family: "montserratregular";
  font-weight: bold;
  width: 35%;
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
#section-header,
#page-header {
  line-height: 120%;
  letter-spacing: 0px;
  font-family: Montserrat;
  margin-bottom: 35px;
  text-align: center;
  color: #3e3e3e;
}
#section-header h1,
#page-header h1 {
  line-height: 120%;
  letter-spacing: 0px;
  font-family: "Playfair Display";
  font-size: 28px;
  margin-bottom: 10px;
  color: #f06d97;
  font-size: 55px;
}
#section-header .hint,
#page-header .hint {
  font-size: 12px;
}
